<h1 style="text-align: center;">{{title}}</h1>

<div
  class="author-container"
  style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; "
>
  {{! cardlar chiqadigan joy }}
</div>

<script src="./js/script_author.js"></script>
<script>
  getAuthors() ; displayAuthors()
</script>